* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: houschka-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: rgb(233, 236, 244);
  background-color: rgb(11, 35, 97);
}

main {
  max-width: 1400px;
  margin-inline: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

h1 {
  color: rgb(233, 236, 244);
  font-weight: 500;
}

h2 {
  color: rgb(239, 145, 161);
  font-weight: 500;
  font-size: 2rem;
}

/*Poster billede med tekst*/
.container {
  position: relative;
  text-align: center;
  color: rgb(220, 220, 220);
}

.center {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Gallery*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
}

.gallery img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
  }
}
