* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: houschka-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: rgb(233, 236, 244);
  background-color: rgb(11, 35, 97);
}

main {
  max-width: 1400px;
  margin-inline: auto;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  aspect-ratio: 16/9;
}

h1 {
  color: rgb(233, 236, 244);
  font-weight: 500;
}

h2 {
  color: rgb(239, 145, 161);
  font-weight: 500;
  font-size: 2rem;
}

h3 {
  color: rgb(241, 85, 76);
  font-weight: 500;
  font-size: 2rem;
}

a:link {
  color: rgb(110, 110, 110);
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
}

a:visited {
  color: rgb(80, 80, 80);
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover {
  color: rgb(80, 80, 80);
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
}

footer {
  text-align: center;
  text-transform: uppercase;
  margin-top: 250px;
}

footer p {
  font-size: 1rem;
}

/*Link*/
.card {
  background-color: rgb(239, 145, 161);
  width: 200px;
  background-position: center center;
  border-radius: 10px;
  border-style: double;
  /* border-color: rgb(254, 176, 95); */
  border-width: 4px;
  padding: 15px;
  margin-bottom: 50px;
  display: inline-block;
  text-align: center;
}

/*Poster billede med tekst*/
.container {
  position: relative;
  text-align: center;
}

.center {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Gallery*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
}

.gallery img {
  height: 100%;
  object-fit: cover;
}

@media (min-width: 700px) {
  .grid_1-1_gallery {
    background-color: rgb(254, 176, 95);
    border: 8px solid rgb(239, 145, 161);
    margin-bottom: 50px;
  }
}

@media (max-width: 1000px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 700px) {
  main {
    padding-inline: 10px;
  }

  .card {
    background-color: rgb(239, 145, 161);
    width: 200px;
    border-radius: 10px;
    border-style: double;
    /* border-color: rgb(254, 176, 95); */
    border-width: 4px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
  }
}
