footer {
  text-align: center;
  text-transform: uppercase;
  margin-block: 20px;
}

footer p {
  font-size: 0.8rem;
}

header {
  text-align: center;
}

header nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 700;
}

footer {
  text-align: center;
}

.footer {
  margin-top: 90px;
}

@media (min-width: 700px) {
  header {
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    box-shadow: 0 12px 28px 0 rgb(0 0 0 /30%);
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(12, 38, 105);
  }

  header .logo a {
    font-size: 2rem;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0.4rem;
    gap: 30px;
    overflow-x: auto;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(50, 50, 50);
  }

  a:hover {
    color: rgb(35, 35, 35);
  }
}

@media (max-width: 700px) {
  main {
    padding-inline: 10px;
  }
}
